.login_btn {
	text-decoration:none;
	text-shadow:1px 1px 0 #000;
	-moz-text-shadow:1px 1px 0 #000;
	-webkit-text-shadow:1px 1px 0 #000;
	color:#DD59F0;
	font-weight:bold;
	font-size:16px;
	
    margin-right:10px;
	float:right;
	}
.login_btn:hover {
	background:#656565;
}
.login_btn span {
	color:#fff;
	float:left;
	padding:0 10px 0 10px;
	text-align:center;
	margin-top: 8px;
}
.triangle {
	float:left;
	width:0px;
	height:0px;
	margin:14px 9px 0 0;
	border-left:5px solid transparent;
	/* left arrow slant */
	border-right:5px solid transparent;
	/* right arrow slant */
	border-top:5px solid #fff;
	/* bottom,add background color here */
	font-size:0px;
	line-height:0px;
}

#login_box {
	background:#82D7FF;
	display:none;
	position:absolute;
	width:236px;	
	
	margin:165px 0 0 780px;
}
#tab {
	background:#82D7FF;
	width:61px;
	float:right;
	height:38px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	height:41px;
}
#tab .login_btn {
	float:left;
	margin:9px 0 0 9px;
}
#login_box_content {
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	float:left;
	margin:0px 0px 0px 0px;
	
}
#arey_kay{
	width:25px;
	height:25px;
	margin:150px 0px 30px 320px;
	padding:0px 0px 0px 0px;
	float:left;
	background:#0F0;
	
	
	}



#login_form {
	
	margin:25px 0 0 0 15px;
}

#login_form input[type=submit] {
	border:none;
	background:#82D7FF;	
	color:#F00;
	margin:9px 9px 9px 0;
	width:65px;
	height: 29px;
	cursor:pointer;
}
#logout_image {
	border:none;
	margin-left:10px;
	
}